@model IEnumerable<WorldTravelerWithMigration.Models.Experience>

@{
    ViewData["Title"] = "Experience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>To Do List</h2>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.Country)
        </th>
        <th></th>
    </tr>

    @foreach (var listExperiences in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelExperience => listExperiences.Description)
            </td>
            <td>
                @Html.DisplayFor(modelExperience => listExperiences.Location.Country)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = listExperiences.ExperienceId }) |
                @Html.ActionLink("Details", "Details", new { id = listExperiences.ExperienceId }) |
                @Html.ActionLink("Delete", "Delete", new { id = listExperiences.ExperienceId })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>