@model IEnumerable<WorldTravelerWithMigration.Models.Location>

@{
    ViewData["Title"] = "Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Location List</h2>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Experience.Description)*@
        </th>
        <th></th>
    </tr>

    @foreach (var listLocation in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => listLocation.Country)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => listLocation.Experience.Description)*@
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = listLocation.LocationId }) |
                @Html.ActionLink("Details", "Details", new { id = listLocation.LocationId }) |
                @Html.ActionLink("Delete", "Delete", new { id = listLocation.LocationId })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>